<div class="relative flex items-start">
  <div class="flex items-center h-5">
    <input name="role[role][<%= @index %>]" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" <%= 'checked' if (@role[@index] == @auth[0] rescue false) %> >
  </div>
  <div class="ml-3 text-sm">
    <label for="role" class="font-medium text-gray-700">
    <%= @auth %>
    </label>
    <p class="text-gray-500"><%= helpers.raw_t @description.downcase %></p>
  </div>
</div>
