<div class="relative flex items-start">
  <div class="flex items-center h-5">
    <input name="account[signed_services][<%= @service.id %>]" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" <%= 'checked' if @checked %> >
  </div>
  <div class="ml-3 text-sm">
    <label for="service" class="font-medium text-gray-700">
    <%= @service.name %>
    </label>
    <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
  </div>
</div>
