<div class="flex md:absolute md:top-24 md:right-6 lg:top-10">  
  <div class="m-1 justify-end flex content-center  w-full">
    <div class="ml-4 flex-1">
      <%= form_with url: "", method: :get, data: { search_target: "form", turbo_frame: helpers.resources_target, turbo_action: 'advance' } do |form| %>
        <%= helpers.search_field name: :q, value: params[:q], component_method: "search#keydownHandler" %>
      <% end %>
    </div>

    <div class="ml-2 mt-1 flex-0">
      <%= link_to t("#{helpers.resource_class}.new_button"), helpers.new_resource_url, class: "button new-button inline-block flex-1 select-none", data: { form_sleeve_target: "button",  switchboard_url_param: "#{helpers.new_resource_url}", action: "switchboard#newForm", 'turbo-frame': 'form_slideover' } %>
    </div>
  </div>
</div>
