<!-- This example requires Tailwind CSS v2.0+ -->
<div class="w-full">
  <%= helpers.render_component 'resource/breadcrumb', breadcrumbs: @breadcrumbs, current: @current %>
</div>
<div id="index_header" class="relative px-4 md:flex">
  <div class="md:w-1/2 lg:w-3/5 xl:w-2/3">

    <h2 class="mt-2 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      <%= @title %>
    </h2>

    <div class="mt-1 sm:mt-0 sm:space-x-6">
      <div class="mt-2 flex items-center text-sm text-gray-500">
        <%= @description %>
      </div>
    </div>
  </div>

  <div class="flex md:absolute md:top-10 md:right-5 2xl:right-[5%]">
    <!-- block assigned to content accessor -->
    <%= content %>

  </div>
</div>













