<!-- <div>
  <% unless (@current.user.nil rescue false) %>
    <button 
      type="button" 
      data-action="navigation--topbar-component#toggleUsermenu"
      class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" 
      id="user-menu-button" 
      aria-expanded="false" 
      aria-haspopup="true">
      <span class="sr-only">Open user menu</span>
      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    </button>
  <% else %>
    <%= link_to t('login'), login_url %>
  <% end %>
</div> -->
<!--
  Dropdown menu, show/hide based on menu state.

  Entering: "transition ease-out duration-100"
    From: "transform opacity-0 scale-95"
    To: "transform opacity-100 scale-100"
  Leaving: "transition ease-in duration-75"
    From: "transform opacity-100 scale-100"
    To: "transform opacity-0 scale-95"
-->
<div 
  data-controller="resource--user-profile-component"
  data-action="speicherMessage@window->resource--user-profile-component#handleMessages"
  data-resource--user-profile-component-target="userprofile"
  data-resource--user-account-component-target="userprofile"
  class=" <%= @container_classes %>" 
  role="menu" 
  aria-orientation="vertical" 
  aria-labelledby="<%= @labelledby %>" 
  tabindex="-1">
  <div class="py-1" role="none">
    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
    <%#= link_to t( :my_profile ), edit_profile_path( @current_user.id), data: {action: "click->topbar--user-profile-component#toggle click->switchboard#toggleFormSleeve", 'turbo-frame': 'form_slideover' }, class: "block py-2 px-4 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id:"user-menu-item-0"  %>
    <!--<a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="user-menu-item-2">Notifications</a>-->
  </div>
  <div class="py-1" role="none">
    <!--<a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="user-menu-item-3">Get desktop app</a>
    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="user-menu-item-4">Support</a>-->
  </div>
  <div class="py-1" role="none">
    <%= button_to t( :sign_off ), logout_path, data: { turbo: "false", action: "click->resource--user-profile-component#hide"}, class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-50 hover:text-gray-900"  %>
  </div>
</div>
