<div id="employee_punch_clock_info" class="">
  <div class=" bg-white shadow sm:rounded-md">
    <ul  role="list" class="divide-y divide-gray-200  ">
      <li>
        <a href="#" class="block hover:bg-gray-50">
          <div class="flex items-center px-4 py-4 sm:px-6">
            <div class="flex min-w-0 flex-1 items-center">
              <div class="flex-shrink-0">
                <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                <div>
                  <p class="truncate text-sm font-medium text-indigo-600">Lars Lukassen</p>
                  <p class="mt-2 flex items-center text-sm text-gray-500">
                    <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z" />
                      <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" />
                    </svg>
                    <span class="truncate">lars@nordthy.com</span>
                  </p>
                </div>
                <div class="hidden md:block">
                  <div>
                    <p class="text-sm text-gray-900">
                      Ansat den 
                      <time datetime="2020-01-07">1. januar 2020</time>
                    </p>
                    <p class="mt-2 flex items-center text-sm text-gray-500">
                      <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                      </svg>
                      Stemplet korrekt ind kl 06:35
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
        </a>
      </li>

      <li class="">
        <a href="#" class="block hover:bg-gray-50">
          <div class="flex items-center px-4 py-4 sm:px-6 space-x-2">
            <button data-action="click->punch-clock#playTap" class="w-40 px-4 py-4 text-gray-500 bg-gray-100 flex items-center justify-center">
              <span class="material-symbols-outlined"> play_arrow </span>
              <span>IND</span>
            </button>
            <button data-action="click->punch-clock#pauseTap" class="w-40 px-4 py-4 text-white bg-green-400 shadow-md flex items-center justify-center">
              <span class="material-symbols-outlined"> pause </span>
              <span>PAUSE</span>
            </button>
            <button data-action="click->punch-clock#stopTap" class="w-40 px-4 py-4 text-white bg-red-500 shadow-md flex items-center justify-center">
              <span class="material-symbols-outlined"> stop </span>
              <span>UD</span>
            </button>
            <button data-punch-clock-target="delete" data-action="click->punch-clock#deleteTap" class="w-40 px-4 py-4 text-white bg-red-800 shadow-md flex items-center justify-center">
              <span class="material-symbols-outlined"> logout </span>
              <span>LOG UD</span>
            </button>
          </div>
        </a>
      </li>

      <li class="h-96 overflow-y-scroll">
        <a href="#" class="block hover:bg-gray-50">
          <div class="flex items-center px-4 py-4 sm:px-6">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0"> <span class="translation_missing" title="translation missing: da.pos.employees.stats_tab.description">Description</span></th>
                  <th scope="col" class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:table-cell">uge 08</th>
                  <th scope="col" class="py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:hidden"> minutter</th>
                  <th scope="col" class="hidden sm:table-cell py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0 w-48"> februar måned</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> arbejde</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> pauser</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> første 180min overarbejde</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> overarbejde ud over 180min</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> syg</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> barn syg</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0"></th>
                  <th scope="col" class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:table-cell">uge 08</th>
                  <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0 sm:table-cell w-48"> 2023 </th>
                </tr>
                <tr class="border-b border-gray-200">
                  <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                    <div class="font-medium text-gray-900"> fri</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
                  </td>
                  <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                    <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                    <div class="hidden sm:block"> 0</div>
                  </td>
                  <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
                </tr>

                <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> fri (forrige år)</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> ferie/fri</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> omsorg</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> senior ordning</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> fri uden løn</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> tabt arbejdsfortjeneste</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> barsel</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> orlov</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                        <tr class="border-b border-gray-200">
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                <div class="font-medium text-gray-900"> <span class="translation_missing" title="translation missing: da.pos.employees.stats_tab.pgf56_minutes">Pgf56 Minutes</span></div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne uge</div>
                <div class="mt-0.5 text-gray-500 sm:hidden">denne måned</div>
              </td>
              <td class="mt-10 py-4 px-3 text-right text-sm text-gray-500">
                <div class="mt-0.5 text-gray-500 sm:hidden"> &nbsp;</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="mt-0.5 text-gray-500 sm:hidden"> 0</div>
                <div class="hidden sm:block"> 0</div>
              </td>
              <td class="hidden py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:table-cell sm:pr-6 md:pr-0">0</td> 
            </tr>

                    </tbody>
            </table>

          </div>
        </a>
      </li>

    </ul>
  </div>
</div>
