<tbody id="pupils" class="divide-y divide-gray-200 bg-white">
  <% resource.assetable.pupils.each do |pupil| %>
    <tr>
      <td
        id="<%= dom_id pupil %>" 
        data-action="click->employee-pupil#toggle_pupil"  
        <%= 'disabled' if resource.state.match /(BREAK)|(OUT)|(SICK)/ %>
        class="whitespace-nowrap cursor-pointer py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"> <%= pupil.name %></td>
    </tr>
  <% end %>
  <!-- More people... -->
</tbody>
