<div class="fixed bottom-0 h-20 w-full bg-slate-100 text-white p-2">
  <%= render_component "navigation/pos_footer", links: account_pos_employee_tabs(Current.account) %>
  <%= render "shared/takiro" %>
</div>