<div id="stats_tab" class="hidden py-4 px-4 " data-tabs-target="panel">
  <%= turbo_stream_from "employee_#{resource.id}_stats"  %>
  <%= turbo_frame_tag "employee_stats" do %>
    <%= render partial: "pos/employees/employee_stats", locals: { resource: resource } %>
  <% end %>
</div>
