<%= turbo_stream_from "pos_employees" %>
<%= turbo_frame_tag "pos_employees" do %>
<div class="m-2">
  <p class="mt-4 text-stone-100"> Antal mødte: <%= resources.working.size %></p>
  <div class="mt-2 grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
    <% resources.each do |employee| %>
      <%= render partial: "list_employee", locals: { employee: employee } %>
    <% end %>
  </div>
</div>
<% end  %>
