<% content_for :head do %>
  <meta name='viewport' content= 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta viewport= 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' mobileAppIOS= true>
  <meta name="mobile-web-app-capable"  content= "yes">
  <meta name="full-screen"  content="yes">
  <meta name="browsermode"  content="application">
  <meta name="screen-orientation"  content="portrait">
  <script>
    // window.App = {};
    // App.webWorker = new Worker("/employee_pos_worker_1.js");
  </script>
<% end %>

<div 
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" 
  data-controller="tabs"  
  data-tabs-active-tab="border-indigo-500 text-indigo-600" 
  >
  <%= render_component "show_employee_header", 
      title: resource.name, 
      breadcrumbs: @breadcrumbs, 
      current: Current, 
      asset: resource,
      tabs: account_pos_employee_tabs(Current.account) do %>

    <% Current.account.system_parameters_include("pos/employee").split(" ").each do |tab| %>
      <%= render "#{tab}_tab" %>
    <% end %>
      
  <% end %>

</div>
