<div class="mt-8">
  <h3 class="px-3 text-xs font-semibold text-gray-500 uppercase tracking-wider" id="mobile-teams-headline">SuperUSER</h3>
  <div class="mt-1 space-y-1" role="group" aria-labelledby="mobile-teams-headline">
    <!-- Current: " text-gray-700", Default: "text-indigo-100 hover:bg-indigo-600" -->

    <a href="/accounts" class="group flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-500 rounded-md hover:text-gray-300 hover:bg-gray-50">
      <%# <span class="w-2.5 h-2.5 mr-4 bg-indigo-500 rounded-full" aria-hidden="true"></span> %>
      <span class="material-symbols-outlined">manage_accounts</span>
      <span class="pl-2 truncate"> Konti </span>
    </a>

    <a href="/services" class="group flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-500 rounded-md hover:text-gray-300 hover:bg-gray-50">
      <%# <span class="w-2.5 h-2.5 mr-4 bg-green-500 rounded-full" aria-hidden="true"></span> %>
      <span class="material-symbols-outlined">electrical_services</span>    
      <span class="pl-2 truncate"> Tjenester </span>
    </a>

    <a href="/dashboards" class="group flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-500 rounded-md hover:text-gray-300 hover:bg-gray-50">
      <%# <span class="w-2.5 h-2.5 mr-4 bg-yellow-500 rounded-full" aria-hidden="true"></span> %>
      <span class="material-symbols-outlined">vrpano</span>
      <span class="pl-2 truncate"> Instrumentbrædder</span>
    </a>

    <a href="/users" class="group flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-500 rounded-md hover:text-gray-300 hover:bg-gray-50">
      <%# <span class="w-2.5 h-2.5 mr-4 bg-purple-500 rounded-full" aria-hidden="true"></span> %>
      <span class="material-symbols-outlined">group_add</span>
      <span class="pl-2 truncate"> Brugere</span>
    </a>
  </div>
</div>

