<!-- Current: " text-gray-700", Default: "text-indigo-100 hover:bg-indigo-600" -->
<a href="/accounts" class=" text-gray-700 hover:bg-gray-300 group flex items-center px-2 py-2 <%= @text %> font-medium rounded-md">
  <span class="material-symbols-outlined">manage_accounts</span>
  Accounts
</a>

<!-- Current: " text-gray-700", Default: "text-indigo-100 hover:bg-indigo-600" -->
<a href="/services" class=" text-gray-700 hover:bg-gray-300 group flex items-center px-2 py-2 <%= @text %> font-medium rounded-md">
  <span class="material-symbols-outlined">electrical_services</span>      
  Services
</a>

<!-- Current: " text-gray-700", Default: "text-indigo-100 hover:bg-indigo-600" -->
<a href="/dashboards" class=" text-gray-700 hover:bg-gray-300 group flex items-center px-2 py-2 <%= @text %> font-medium rounded-md">
  <span class="material-symbols-outlined">vrpano</span>
  Dashboards
</a>

<!-- Current: " text-gray-700", Default: "text-indigo-100 hover:bg-indigo-600" -->
<a href="/users" class=" text-gray-700 hover:bg-gray-300 group flex items-center px-2 py-2 <%= @text %> font-medium rounded-md">
  <span class="material-symbols-outlined">group_add</span>
  Users
</a>
