<footer class="fixed bottom-[3px]">
  <div class="max-w-full lg:max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class=" border-gray-200 py-2 text-xs text-gray-400 text-center sm:text-left">
      <span class=" sm:inline">&copy; 2022 Takiro ApS</span> 
      <span class=" sm:inline">All rights reserved.</span>
      <% if Rails.env.development? %>
      <span class=" sm:inline text-green-900"><%= size rescue 'N/A' %></span>
      <% end %>
    </div>
  </div>
</footer>
