<div id="<%= dom_id pupil_transaction %>">
  <p>
    <strong>Asset:</strong>
    <%= pupil_transaction.asset_id %>
  </p>

  <p>
    <strong>Pupil:</strong>
    <%= pupil_transaction.pupil_id %>
  </p>

  <p>
    <strong>Work minutes:</strong>
    <%= pupil_transaction.work_minutes %>
  </p>

</div>
