<h1>Editing pupil transaction</h1>

<%= render "form", pupil_transaction: @pupil_transaction %>

<br>

<div>
  <%= link_to "Show this pupil transaction", @pupil_transaction %> |
  <%= link_to "Back to pupil transactions", pupil_transactions_path %>
</div>
