<p style="color: green"><%= notice %></p>

<h1>Pupil transactions</h1>

<div id="pupil_transactions">
  <% @pupil_transactions.each do |pupil_transaction| %>
    <%= render pupil_transaction %>
    <p>
      <%= link_to "Show this pupil transaction", pupil_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New pupil transaction", new_pupil_transaction_path %>
