<div
    data-controller="punch-clock"
  >
  <div class="m-8  max-w-md flex flex-row flex-wrap gap-2">
    <div data-punch-clock-target="key" data-action="click->punch-clock#digitboxTap" class="mr-2 h-14 w-2/12 px-4 py-2 border text-center align-middle border-gray-300 shadow-sm text-3xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
    <span data-punch-clock-target="digitbox" class="hidden"></span>
    </div>
    <div data-punch-clock-target="key" data-action="click->punch-clock#digitboxTap" class="mr-2 h-14 w-2/12 px-4 py-2 border text-center align-middle border-gray-300 shadow-sm text-3xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
    <span data-punch-clock-target="digitbox" class="hidden"></span>
    </div>
    <div data-punch-clock-target="key" data-action="click->punch-clock#digitboxTap" class="mr-2 h-14 w-2/12 px-4 py-2 border text-center align-middle border-gray-300 shadow-sm text-3xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
    <span data-punch-clock-target="digitbox" class="hidden"></span>
    </div>
    <div data-punch-clock-target="key" data-action="click->punch-clock#digitboxTap" class=" h-14 w-2/12 px-4 py-2 border text-center align-middle border-gray-300 shadow-sm text-3xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
    <span data-punch-clock-target="digitbox" class="hidden"></span>
    </div>
  </div>
  <div
    class="m-8 max-w-md flex flex-row flex-wrap gap-2">
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      7
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      8
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      9
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      4
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      5
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      6
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      1
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      2
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      3
    </div>
    <div data-punch-clock-target="delete" data-action="click->punch-clock#deleteTap" class="h-16 w-3/12 px-4 py-4 border  text-center align-middle  border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      <span class="material-symbols-outlined"> delete </span>
    </div>
    <div data-punch-clock-target="digit" data-action="click->punch-clock#digitTap" class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      0
    </div>
    <div data-punch-clock-target="backspace" data-action="click->punch-clock#backspaceTap"  class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      <span class="material-symbols-outlined"> backspace </span>
    </div>
    <div data-punch-clock-target="backspace" data-action="click->punch-clock#playTap"  class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      <span class="material-symbols-outlined"> play_arrow </span>
    </div>
    <div data-punch-clock-target="backspace" data-action="click->punch-clock#pauseTap"  class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      <span class="material-symbols-outlined"> pause </span>
    </div>
    <div data-punch-clock-target="backspace" data-action="click->punch-clock#stopTap"  class="h-16 w-3/12 px-4 py-4 border   text-center align-middle border-gray-300 shadow-sm text-2xl font-medium rounded-md disabled:opacity-25 text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
      <span class="material-symbols-outlined"> stop </span>
    </div>
  </div>

</div>
