<p style="color: green"><%= notice %></p>

<h1>Punch clocks</h1>

<div id="punch_clocks">
  <% @punch_clocks.each do |punch_clock| %>
    <%= render punch_clock %>
    <p>
      <%= link_to "Show this punch clock", punch_clock %>
    </p>
  <% end %>
</div>

<%= link_to "New punch clock", new_punch_clock_path %>
