<div id="<%= dom_id dashboard %>">
  <p>
    <strong>Name:</strong>
    <%= dashboard.name %>
  </p>

  <p>
    <strong>Layout:</strong>
    <%= dashboard.layout %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= dashboard.body %>
  </p>

</div>
