<!-- Page title & actions -->
<div 
  data-controller="list-item-actions"
  data-action="speicherMessage@window->form#handleMessages"
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" >

  <%= render_component "resource/index_header", form_id: resource_form, title: raw_t("#{resource_class}.index"), description: raw_t("#{resource_class}.index_description"), breadcrumbs: @breadcrumbs, current: Current %>

</div>

<!-- Projects list (only on smallest breakpoint) -->
<div class="mt-10 sm:hidden">
  <div class="align-middle inline-block min-w-full ">
    <%= turbo_stream_from resources_target  %>
    <div class="mt-4 flex flex-col">
      <!-- better for mobile <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"> -->
      <div class="-my-2 overflow-x-auto">
        <div class="py-2 align-middle inline-block min-w-full max-w-full lg:max-w-screen-2xl  sm:px-6 lg:px-8">
          <%= render partial: "index" %>
        </div>
      </div>
    </div>

  </div>
</div>
