<!-- Page title & actions -->
<div id="index_header_wrapper"
  data-controller="list-item-actions"
  data-action="speicherMessage@window->form#handleMessages"
  class="max-w-full lg:max-w-screen-2xl mx-auto sm:px-6 lg:px-8" >

  <%#= render_component "resource/index_header", form_id: resource_form, title: raw_t("#{resource_class}.index"), description: raw_t("#{resource_class}.index_description"), breadcrumbs: @breadcrumbs, current: Current %>
  <%= render_list_header title: raw_t("#{resource_class}.index"), description: raw_t("#{resource_class}.index_description"), breadcrumbs: @breadcrumbs %>

</div>

<!-- Index table (small breakpoint and up) -->
<div class="mt-2 sm:block">
  <div class="align-middle inline-block min-w-full ">

    <%= turbo_stream_from resources_target  %>
    <div class="mt-4 flex flex-col">
      <!-- better for mobile <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"> -->
      <div class="-my-2 overflow-x-auto">
        <div class="py-2 align-middle inline-block min-w-full max-w-full lg:max-w-screen-2xl  sm:px-6 lg:px-8">
          <%= render partial: "index" %>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- this footer could hold stuff we'd like to push in anycase! -->
<footer class="hidden fixed bottom-0 left-0 right-0 h-10 bg-slate-50">SPEICHER</footer>
